*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position: relative;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    


}

.bg, .bg2{
    background-image: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%)) ;
    background-repeat: no-repeat;
    height: 590px;
    width: 250px;
    position: absolute;
    border-radius: 0 0 220px 0;
    z-index: 1;

}

.bg{
    top: 0px;
}

.bg2{
    opacity: .1;
    right: 0px;
    bottom: -402px;
    border-radius: 220px 0 0 0;
    
}

.phone-layout{
    
    overflow: hidden;
    width: 327px;
    height: 667px;
    border-radius: 40px;
    margin: 123px auto;
    position: relative;
    z-index: 2;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.notch{
    width: 180px;
    height: 28px;
    top: -2px;
    left: 58px;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    position:absolute;
    
}

.phone-screen{
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    margin: 10px 10px;
    background-color: hsl(270, 20%, 96%);
    height: 646px;
}

.flex-id{
    display: flex;
    background-image: linear-gradient(to right,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    box-shadow: rgb(0 0 0 / 23%) 0px 3px 5px;
    height: 92px;
    color: white;
    text-align: left;
    padding: 40px 22px;
    justify-content: space-between;

}



.id{
    display: flex;
    position: relative;
    left: -45px;
    top: -6px;
}

.id p{
    margin-left: 5px;
}

.id span{
    font-size: 12px;
   color: hsl(270deg 10.51% 84.16%);
}

.flex-id img{
    
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid white;
    
    
}

.conver{
    background-color: hsl(0, 0%, 90%);
    border-radius: 20px 10px 10px 0;
    color: hsl(276, 55%, 52%) ;
    font-size: 12px;
    display: inline-block;
    padding: 10px 10px;
    margin: 8px 10px;
    width: 185px;
}

.con{
    background-color: white;
    border-radius: 10px 20px 1px 10px;
    color: hsl(270, 7%, 64%) ;
    font-size: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 10px;
    margin: 14px 107px;
    width: 188px;
    justify-content: end;
}
.img-flex img{
    position: relative;
    left: 93px;
    top: 5px;
    width: 60px;
    border-radius: 20px;
    margin-left: 5px;
    justify-content: space-between;
}

.description{
    text-align: center;
    padding: 10px 55px;
    margin-bottom: 20px;
}

.description h1{
   color: hsl(271, 36%, 24%);
   font-size: 3rem;
   padding-bottom: 10px;
}

.description p{
    color: hsl(270, 7%, 64%);
    font-size: 1.3rem;
    line-height: 30px;
 }

 .radio-flex{
   display: flex;
   flex-direction: column;
 }

 .radio{
    display: flex;
    text-align: left;
    justify-content: space-around;
     background-image:linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%)) ;
     border-radius: 20px 10px 10px 0;
     color: hsl(0, 0%, 100%) ;
     font-size: 12px;
    
     padding: 10px 10px;
     margin: 5px 10px;
     width: 210px;
  }

  .radio p{
    font-weight: 700;
    font-size: 14px;
  }

 .message{
    position: relative;
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 12px 10px ;
    justify-content: space-between;
    bottom: -6px;
    margin: auto 10px;
 }

 .message p{
    color: hsl(270, 7%, 64%);
    font-size: 12px;
}


 @media only screen and (min-width: 768px) {
    /* For desktop: */

    .bg {
        height: 835px;
        width: 331px;
        border-radius: 0 0 50% 50%;
    }
   

    .bg2 {
        height: 857px;
        width: 310px;
        right: 0px;
       
        border-radius: 220px 0 0 0;
    }
    .flex-container{
        display: flex;
        width: 900px;
        height: 600px;
        margin: 0px 250px;
        position: relative;
        top: -80px;
       
    }
    .phone-layout{
        width: 324px;
        height: 554px;
    }

    .phone-screen {
        
        height: 540px;
    }
    
    .notch {
        /* width: 180px; */
        /* height: 28px; */
        top: -5px;
        left: 42px;
        /* background-color: white; */
        /* border-radius: 0px 0px 50px 50px; */
        /* position: absolute; */
    }

    .id {
        /* display: flex; */
        /* position: relative; */
        left: -43px;
        top: -6px;
    }

    .id p{
        font-size: 11px;
    }
    .id span{
        font-size: 10px;
    }

    .flex-id img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid white;
    }

    .flex-id {
        /* display: flex; */
        /* background-image: linear-gradient(to right,hsl(264, 100%, 61%), hsl(293, 100%, 63%)); */
        /* box-shadow: rgb(0 0 0 / 23%) 0px 3px 5px; */
        height: 68px;
        /* color: white; */
        /* text-align: left; */
        padding: 38px 22px;
        /* justify-content: space-between; */
    }

    .conver {
        /* background-color: hsl(0, 0%, 90%); */
        /* border-radius: 20px 10px 10px 0; */
        /* color: hsl(276, 55%, 52%); */
        font-size: 10px;
        /* display: inline-block; */
        /* padding: 10px 10px; */
        margin: 3px 10px;
        width: 156px;
    }

    .img-flex img {
        position: relative;
        left: 111px;
        top: 12px;
        width: 40px;
        border-radius: 11px;
        margin-left: 5px;
        
    }

    .con {
        /* background-color: white; */
        /* border-radius: 10px 20px 1px 10px; */
        /* color: hsl(270, 7%, 64%); */
        font-size: 10px;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
        padding: 10px 7px;
        margin: 16px 107px;
        width: 151px;
        justify-content: end;
    }

    .radio {
        /* display: flex; */
        /* text-align: left; */
        justify-content: space-around;
        /* background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%)); */
        /* border-radius: 20px 10px 10px 0; */
        /* color: hsl(0, 0%, 100%); */
        font-size: 10px;
        padding: 10px 10px;
        margin: 5px 10px;
        width: 180px;
    }

    .message {
        /* position: relative; */
        /* display: flex; */
        /* border-radius: 20px; */
        /* background-color: white; */
        padding: 3px 14px;
        justify-content: space-between;
        bottom: -6px;
        margin: auto 10px;
    }

    .message p{
        color: hsl(270, 7%, 64%);
        font-size: 10px;
    }


    .bg{
       
        height: 590px;
        width: 310px;
        border-radius: 0 0 220px 220px;

    
    }
    .bg2 {
        height: 670px;
        width: 310px;
        right: 0px;
        bottom: -402px;
        border-radius: 220px 0 0 0;
    }

    .description{
        width: 688px;
        text-align: left;
        margin-top: 291px;
    }
  }
